@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-uniquifier{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* * {
  margin: 0;
  padding: 0;
  
} */

.img{
    width: 135px;
    height: 82px;
}
.displayflex{
    display: flex;
}
.text-color{
    color: #8987A1;
}
.text-dark-black{
    color: #000;
}
.navbar{
  justify-content: space-between;  
}
.nav-link{
    
}
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
}